/* CSS reset */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, img, em, strong, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* Global styles */
body {
font-family: 'Roboto', sans-serif;
font-size: 1rem;
line-height: 1.5;
color: #333;
background-color: #000;
height: 100vh;
display: flex;
flex-direction: column;
justify-content: space-between;
min-height: 100vh;
padding: 0;
margin: 0;
overflow-x: hidden; /* Add this line to prevent horizontal overflow */
}

header {
position: fixed;
top: 0;
left: 0;
width: 100%;
background-color: transparent;
color: #fff;
display: flex;
justify-content: flex-end;
align-items: center;
padding: 10px;
z-index: 1003;
}

header nav {
position: absolute;
top: 100%;
left: 0;
width: 100%;
background-color: #111111;
visibility: hidden;
opacity: 0;
transition: opacity 0.4s ease, visibility 0.4s ease;
z-index: 1002;
}

header nav ul {
flex-direction: column;
}

header nav ul li {
margin: 10px 0;
}

header nav ul li a {
font-size: 1.25rem;
}

/* Hamburger menu */
#menu-toggle {
display: none;
position: relative;
z-index: 2;
}

#menu-icon span {
display: block;
width: 70%;
height: 4px;
background-color: #fff;
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
transition: transform 0.4s ease;
}

#menu-icon span:before,
#menu-icon span:after {
content: '';
display: block;
width: 100%;
height: 4px;
background-color: #222;
position: absolute;
left: 0;
transition: top 0.4s ease, transform 0.4s ease;
}

#menu-icon span,
#menu-icon span:before,
#menu-icon span:after {
background-color: #000;
}

#menu-icon span:before {
top: -12px;
transition: top 0.4s ease, transform 0.4s ease, background-color 0.4s ease;
}

#menu-icon span:after {
top: 12px;
transition: top 0.4s ease, transform 0.4s ease, background-color 0.4s ease;
}

/* Menu open state */
#menu-toggle:checked ~ #menu-icon span {
transform: translate(-50%, -50%) rotate(45deg);
}

#menu-toggle:checked ~ #menu-icon span:before {
top: 0;
transform: rotate(-90deg);
}

#menu-toggle:checked ~ #menu-icon span:after {
top: 0;
transform: rotate(90deg);
}

#menu-toggle:checked ~ #menu-icon.close span:before {
background-color: #fff;
}

#menu-toggle:checked ~ #menu-icon.close span:after {
background-color: #fff;
}

#menu {
position: fixed;
top: 0;
right: 0;
width: 100%;
height: 100%;
visibility: hidden;
opacity: 0;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
background-color: rgba(34, 34, 34, 0.8);
transition: opacity 0.4s ease, visibility 0.4s ease;
z-index: 1002;
}

#menu-toggle:checked ~ #menu {
visibility: visible;
opacity: 1;
}

#menu ul {
display: flex;
flex-direction: column;
list-style: none;
margin: 0;
padding: 0;
}

#menu ul li {
margin: 10px 0;
}

#menu ul li a {
font-size: 1.25rem;
line-height: 1.5;
font-weight: 700;
color: #fff;
text-decoration: none;
transition: color 0.2s ease-in-out;
}

.menu {
position: fixed;
top: 0;
right: 0;
width: 100%;
height: 100%;
visibility: hidden;
opacity: 0;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
background-color: rgba(34, 34, 34, 0.8);
transition: opacity 0.4s ease, visibility 0.4s ease;
z-index: 1002;
}

.menu-container {
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
gap: 30px;
padding: 50px;
<<<<<<< HEAD
max-width: 800px;
=======
max-width: 1200px;
>>>>>>> 614c34c1ec23072f186999e596359826f5957954
margin: 0 auto;
}

.menu-item {
width: 100%;
height: 100px;
background-color: rgba(17, 17, 17, 0.7);
padding: 10px;
color: #fff;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
transition: all 0.3s ease;
cursor: pointer;
border-radius: 10px;
}

.menu-item:hover {
background-color: #154734;
transform: scale(1.1);
}

.menu-link {
text-decoration: none;
color: #fff;
}

.menu-link:hover h2 {
color: #fff;
}

.menu-link h2 {
font-weight: 700;
font-size: 1.25rem;
margin: 0;
padding: 0;
}

/* Menu button styles */
#menu-icon-container {
display: flex;
align-items: center;
justify-content: flex-end;
padding: 20px;
}

#menu-icon-wrapper {
padding: 20px;
}

#menu-icon {
overflow: hidden;
display: block;
position: fixed;
top: 20px;
right: 20px;
width: 24px;
height: 24px;
cursor: pointer;
z-index: 1;
border-radius: 5px;
background-color: #fff;
background-clip: padding-box;
transition: transform 0.3s ease-in-out;
padding: 25px;
}

#menu-icon:hover {
background-color: #fff;
border-color: #fff;
transform: scale(1.1);
}

#menu-icon:hover span,
#menu-icon:hover span:before,
#menu-icon:hover span:after {
background-color: #000;
}

#menu-toggle:checked ~ #close-icon {
display: block;
transition: transform 0.4s ease;
}

/* Close icon */
#menu-icon.close span {
background-color: transparent;
transform: translate(-50%, -50%) rotate(45deg);
}

#menu-icon.close span:before,
#menu-icon.close span:after {
top: 0;
}

#menu-icon.close span:before {
background-color: #222;
transform: rotate(90deg);
}

#menu-icon.close span:after {
background-color: #222;
transform: rotate(-90deg);
}

/* Hide menu */
#menu-toggle:checked ~ #menu {
visibility: visible;
opacity: 1;
}

/* Hide close icon and show menu icon */
#menu-toggle:not(:checked) ~ #menu-icon.close {
display: none;
}

#menu-toggle:not(:checked) ~ #menu-icon {
display: block;
transition: transform 0.4s ease;
}

#menu-icon.close {
transform: rotate(180deg);
}

.hero {
position: relative;
<<<<<<< HEAD
min-height: 100vh;
=======
height: 100vh;
>>>>>>> 614c34c1ec23072f186999e596359826f5957954
width: 100%;
overflow: hidden;
display: flex;
justify-content: center;
align-items: center;
padding: 0;
}

<<<<<<< HEAD

=======
>>>>>>> 614c34c1ec23072f186999e596359826f5957954
.hero-image {
width: 100%;
height: 100%;
object-fit: cover;
object-position: center;
}

/* Mobile */
@media screen and (max-width: 767px) {
#menu-icon {
  width: 20px;
  height: 20px;
  padding: 15px;
}

#menu-icon span {
  display: block;
  width: 70%;
  height: 4px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.4s ease;
}

#menu-icon span:before,
#menu-icon span:after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: #222;
  position: absolute;
  left: 0;
  transition: top 0.4s ease, transform 0.4s ease;
}

#menu-icon span,
#menu-icon span:before,
#menu-icon span:after {
  background-color: #000;
}

#menu-icon span:before {
  top: -12px;
  transition: top 0.4s ease, transform 0.4s ease, background-color 0.4s ease;
}

#menu-icon span:after {
  top: 12px;
  transition: top 0.4s ease, transform 0.4s ease, background-color 0.4s ease;
}

.hero {
  padding: 20px;
}

.menu-container {
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
}

.menu-item {
  height: 80px;
}

.menu-link h2 {
  font-size: 1rem;
}

footer {
  padding: 10px;
  width: 100%;
}
}

#regular-image {
width: 300px;
height: auto;
}

#loading-screen {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: #333;
display: flex;
justify-content: center;
align-items: center;
z-index: 9999;
}

.loader {
width: 48px;
height: 48px;
border-radius: 50%;
display: inline-block;
box-sizing: border-box;
animation: animloader 1s linear infinite;
}

@keyframes animloader {
0% {
  box-shadow: -72px 0 #fff inset;
}
100% {
  box-shadow: 48px 0 #154734 inset;
}
}

/* Arrow container styles */
.arrow-container {
display: flex;
justify-content: center;
align-items: center;
height: 60px;
width: 100%;
text-align: center;
}

/* Arrow styles */
.arrow-down {
width: 0;
height: 0;
border-left: 20px solid transparent;
border-right: 20px solid transparent;
border-top: 20px solid #154734;
animation: arrow-animation 1.5s infinite;
opacity: 0.8;
}

/* Arrow animation */
@keyframes arrow-animation {
0%,
20%,
100% {
  transform: translateY(0);
}
50% {
  transform: translateY(10px);
}
}

.scroll-down-arrow {
display: flex;
justify-content: center;
align-items: center;
width: 100%;
text-align: center;
padding-top: 50px;
}

.scroll-down-arrow a {
display: flex;
justify-content: center;
align-items: center;
text-decoration: none;
cursor: pointer;
}

.arrow {
width: 0;
height: 0;
border-left: 20px solid transparent;
border-right: 20px solid transparent;
border-top: 20px solid #154734;
margin-bottom: 20px;
}

/* Footer styles */
footer {
  text-align: center;
  padding: 20px;
  background-color: #111111;
  color: #fff;
  flex-shrink: 0; /* Prevent the footer from shrinking */
  width: 100%;
}

/* Web Glitch Effect */

.glitch {
position: absolute;
z-index: 2;
left: 0;
right: 0;
top: 0;
bottom: 0;
}

.glitch img {
position: relative;
z-index: 1;
display: block;
}

.glitch__layers {
position: absolute;
z-index: 2;
left: 0;
right: 0;
top: 0;
bottom: 0;
}

.glitch__layer {
position: absolute;
left: 0;
right: 0;
top: 0;
bottom: 0;
<<<<<<< HEAD
background-image: url(http://kldcreativestudio.com/wp-content/uploads/2023/07/hero@0.5x.png);
=======
background-image: url(http://kldcreativestudio.com/wp-content/uploads/2023/07/Hero_big@3x.png);
>>>>>>> 614c34c1ec23072f186999e596359826f5957954
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}

.glitch__layer:nth-child(1) {
transform: translateX(-0.5%);
<<<<<<< HEAD
animation: glitch-anim-1 15s infinite linear alternate; /* Decreased animation duration */
=======
animation: glitch-anim-1 0.5s infinite linear alternate; /* Decreased animation duration */
>>>>>>> 614c34c1ec23072f186999e596359826f5957954
}

.glitch__layer:nth-child(2) {
transform: translateX(0.5%) translateY(0.5%);
<<<<<<< HEAD
animation: glitch-anim-2 15s -9s infinite linear alternate; /* Decreased animation duration and delay */
=======
animation: glitch-anim-2 0.3s -.1s infinite linear alternate; /* Decreased animation duration and delay */
>>>>>>> 614c34c1ec23072f186999e596359826f5957954
}

.glitch__layer:nth-child(3) {
transform: translateX(0.5%);
<<<<<<< HEAD
animation: glitch-anim-flash 3s infinite linear; /* Decreased animation duration */
=======
animation: glitch-anim-flash 0.5s infinite linear; /* Decreased animation duration */
>>>>>>> 614c34c1ec23072f186999e596359826f5957954
}


@keyframes glitch-anim-1 {
0% {
  clip-path: polygon(0 0%, 100% 0%, 100% 10%, 0 10%);
}
10% {
  clip-path: polygon(0 25%, 100% 25%, 100% 30%, 0 30%);
}
20% {
  clip-path: polygon(0 35%, 100% 35%, 100% 40%, 0 40%);
}
30% {
  clip-path: polygon(0 10%, 100% 10%, 100% 15%, 0 15%);
}
40% {
  clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
}
50% {
  clip-path: polygon(0 60%, 100% 60%, 100% 70%, 0 70%);
}
60% {
  clip-path: polygon(0 70%, 100% 70%, 100% 75%, 0 75%);
}
70% {
  clip-path: polygon(0 80%, 100% 80%, 100% 85%, 0 85%);
}
80% {
  clip-path: polygon(0 60%, 100% 60%, 100% 65%, 0 65%);
}
90% {
  clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
}
100% {
  clip-path: polygon(0 70%, 100% 70%, 100% 75%, 0 75%);
}
}

@keyframes glitch-anim-2 {
0% {
  clip-path: polygon(0 25%, 100% 25%, 100% 35%, 0 35%);
}
15% {
  clip-path: polygon(0 5%, 100% 5%, 100% 10%, 0 10%);
}
25% {
  clip-path: polygon(0 15%, 100% 15%, 100% 20%, 0 20%);
}
30% {
  clip-path: polygon(0 30%, 100% 30%, 100% 35%, 0 35%);
}
45% {
  clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
}
50% {
  clip-path: polygon(0 60%, 100% 60%, 100% 70%, 0 70%);
}
65% {
  clip-path: polygon(0 70%, 100% 70%, 100% 75%, 0 75%);
}
75% {
  clip-path: polygon(0 80%, 100% 80%, 100% 85%, 0 85%);
}
80% {
  clip-path: polygon(0 40%, 100% 40%, 100% 50%, 0 50%);
}
95% {
  clip-path: polygon(0 50%, 100% 50%, 100% 60%, 0 60%);
}
100% {
  clip-path: polygon(0 10%, 100% 10%, 100% 15%, 0 15%);
}
}

@keyframes glitch-anim-flash {
0% {
  opacity: .2;
}
35%, 100% {
  opacity: 0;
}
}
<<<<<<< HEAD


/* Add new styles for the Fantasy Football Analysis section */

.analysis-page {
position: relative;
background-image: url(http://kldcreativestudio.com/wp-content/uploads/2023/07/dark_turf@0.5x.png);
background-attachment: fixed; 
background-repeat: no-repeat;
background-size: cover;
min-height: 100vh;
}

/* Styling the arrow image */
.analysis-page::before {
content: "";
position: absolute;
top: 50%;
left: 0;
transform: translateY(-50%);
width: 5%; /* Adjust the width as needed */
min-height: 90vh;
background-image: url('http://kldcreativestudio.com/wp-content/uploads/2023/07/white-yardsricks.png');
background-repeat: no-repeat;
background-size: auto 90%;
background-position: center bottom;
padding: 20px;
}

.content-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%; /* Adjust as per your requirement */
  min-height: 60vh; /* Adjust as per your requirement */
  background-color: white;
  border-radius: 10px; /* For rounded corners, if desired */
  padding: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1); /* Optional: Adds a slight shadow for a "floating" effect */
  overflow: auto; /* In case your content is longer than your container */
  margin-top: 50px;
  margin-left: 20px;
}

@media screen and (max-width: 768px) {
  .content-container {
      width: 60%; /* This width will apply for smaller screens (less than or equal to 768px) */
  }
}

.section-title {
  color: white;
  text-align: center;
  font-size: 2.5em; /* adjust size as needed */
  font-weight: bold; /* make it bold */
  padding: 10px 0; /* some padding to give it room */;
  font-family: 'Roboto', sans-serif;
}

.title-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 7%; /* adjust as needed */
  height: auto;
}


/* This is a media query that will apply the styles inside it when the width of the viewport is 480 pixels or less. Adjust this value based on when you want the styles to apply. */
@media (max-width: 768px) {
  .section-title {
      font-size: 1.5em;  /* adjust size as needed */
      margin-top: 50px;
  }
}

/* Home Icon in Menu Container */
.menu-link span {
  display: flex;
  align-items: center; /* aligns the items vertically in the middle */
}

.menu-icon {
  width: 75px;  /* adjust as needed */
  height: 75px; /* adjust as needed */
  margin-right: 20px; /* adds some space to the right of the image */
  
}

.menu-item h2 {
  font-size: 50px; /* adjust as needed */
  Font-weight: bold;
}

@media (max-width: 480px) {
  .menu-icon {
      width: 30px;  /* adjust as needed */
      height: 30px; /* adjust as needed */
  }
  .menu-item h2 {
  font-size: 30px; /* adjust as needed */
  Font-weight: bold;
  }
}

@media (min-width: 480px) {
  .menu-icon {
      width: 50px;  /* adjust as needed */
      height: 50px; /* adjust as needed */
  }
  .menu-item h2 {
  font-size: 30px; /* adjust as needed */
  Font-weight: bold;
  }
}
=======
>>>>>>> 614c34c1ec23072f186999e596359826f5957954
